/*========== 1. General style ==========*/

html,
body {
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
	background:#fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    color: #111;
    font-weight: 400;
	font-family: 'Montserrat', sans-serif;
}
h1 {
    font-size: 70px
}
h2 {
    font-size: 36px
}
h3 {
    font-size: 30px
}
h4 {
    font-size: 24px
}
h5 {
    font-size: 18px
}
h6 {
    font-size: 16px
}
p {
    font-size: 16px;
	font-family: 'Roboto', sans-serif;
    color: #6b6b6b;
    font-weight: 400;
    line-height: 26px;
    margin: 0 0 15px
}
img {
    max-width: 100%;
    vertical-align: middle;
    border-style: none;
}
input:focus,
select:focus,
button:focus,
textarea:focus {
    outline: none !important;
	-webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
a:hover,
a:focus {
    text-decoration: none;
    outline: none !important;
    color: #fff;
	font-family: 'Montserrat', sans-serif;
	-webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
}
ul,
ol {
    padding: 0;
    margin: 0;
	list-style-type:none;
}
i, i:hover, .btn, .btn:hover, .btn:focus{
	-webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
}
.btn.circle {
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}
.btn-theme {
    background-color: #FF6200;
    color: #fff !important;
    border: 2px solid #FF6200;
}
.btn-theme:hover{
    color: #010101 !important;
}
.btn-md {
    padding: 10px 40px;
}
.btn{
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 25px;
    text-transform: uppercase;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    font-weight: 700;
    letter-spacing: 1px;
    overflow: hidden;
	outline:none !important;
}
.btn:hover{
	background:transparent;
	border: 2px solid #FF6200;
	outline:none !important;
}
.pt-10{
	padding-top:10px;
}
.pt-15{
	padding-top:15px;
}
.pt-25{
	padding-top:25px;
}
.pt-50{
	padding-top:50px;
}
.pt-100{
	padding-top:100px;
}
.pb-50{
	padding-bottom:50px;
}
.pb-100{
	padding-bottom:100px;
}
.pb-45{
	padding-bottom:45px;
}
.pb-25{
	padding-bottom:25px;
}
.pt-65{
	padding-top:65px;
}
.pt-40{
	padding-top:40px;
}
.pb-70{
	padding-bottom:70px;
}
.mt-30{
	margin-top:30px !important;
}
.mt-50{
	margin-top:50px;
}
.mr-3{
	margin-right:1rem !important;
}
.text-center {
    text-align: center!important;
}
.text-white {
    color: #fff!important;
}
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}
.section-title h5{
    color: #000;
    position: relative;
    padding-bottom: 12px;
	font-weight:700;
}
.section-title h5::before{
    content: '';
    position: absolute;
    width: 50px;
    height: 2px;
    background-color: #ffc600;
    bottom: 0;
    left: 0;
}
.section-title h2{
    font-size: 48px;
    color: #FF6200;
    padding-top: 10px;
	font-weight:700;
}
.gray-bg {
    background: #edf0f2;
}
.dark-bg{
	background:#FF6200;
}
.theme-bg{
	background:#ffc600;
}
.bg_cover {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
	z-index:1;
}
/*========== 2. Index style ==========*/

/*===== 2.1 Header-Top Style =====*/

.header-top{
    background-color: #010101;
    padding-top: 7px;
    padding-bottom: 7px;
}
.header-contact ul li, .header-class ul li{
    display: inline-block;
    margin-right: 20px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}
.header-contact ul li a, .header-class ul li a{
    color: #fff;
    font-weight: 500;
    font-size: 14px;
}
.header-contact ul li i{
	margin-right:3px;
}
.header-contact ul li:last-child, .header-class ul li:last-child {
    margin-right: 0;
}
.header-class ul li:first-child i{
	margin-right:3px;
}
.header-class ul li:nth-child(2) i{
	margin: 0px 4px;
}
.header-right .social .follow-us {
    font-size: 14px;
    color: #fff;
    padding-right: 10px;
    font-weight: 500;
}
.header-right .social ul li {
    display: inline-block;
    padding: 0 5px;
}
.header-right .social ul li a {
    color: #fff;
    font-size: 14px;
}
.header-top a:hover, .social ul li a:hover{
	color:#fff;
	transition: all 0.3s linear;
}

/*====== page-top ======*/

.back-to-top{
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 40px;
    height: 40px;
    line-height: 38px;
    background-color: #ffc600;
    color: #fff;
    font-size: 28px;
    border-radius: 5px;
    z-index: 99;
    text-align: center;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
    display: none;
}
.back-to-top:hover{
    color: #fff;
    background-color: #021d3a;
}

/*==== tooltip =====*/

[data-tooltip] {
    position: relative;
    z-index: 10;
  }
  [data-tooltip]:before,
  [data-tooltip]:after {
      position: absolute;
      visibility: hidden;
      opacity: 0;
      left: 50%;
      top: calc(100% + 15px);
      pointer-events: none;
      transition: 0.1s;
      will-change: transform;
  }
  [data-tooltip]:before {
      content: attr(data-tooltip);
      padding:5px 11px;
      min-width: 50px;
      max-width: 300px;
      width: max-content;
      width: -moz-max-content;
      border-radius: 5px;
      font-size: 12px;
      font-weight:700;
      background-color: rgba(0, 0, 0, 1);
      background-image: linear-gradient(30deg,
      rgba(0, 0, 0, 0.44),
      rgba(0, 0, 0, 0.44),
      rgba(0, 0, 0, 0.44));
      box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.2);
      color: #fff;
      text-align: center;
      white-space: pre-wrap;
      transform: translate(-50%, -5px) scale(0.5);
  }
  [data-tooltip]:after {
      content: '';
      border-style: solid;
      border-width: 5px 5px 0px 5px;
      border-color: rgba(55, 64, 70, 0.9) transparent transparent transparent;
      transition-duration: 0s;
      transform-origin: top;
      transform: translateX(-50%) scaleY(0);
  }
  [data-tooltip]:hover:before,
  [data-tooltip]:hover:after {
      visibility: visible;
      opacity: 1;
  }
  [data-tooltip]:hover:before {
      transition-delay: 0.1s;
      transform: translate(-50%, -5px) scale(1);
  }
  [data-tooltip]:hover:after {
    transition-delay: 0.1s; 
    transition-duration: 0.1s;
    transform: translateX(-50%) scaleY(1);
  }
  [data-tooltip-location="left"]:before,
  [data-tooltip-location="left"]:after {
    left: auto;
    right: calc(100% + 5px);
    bottom: 50%;
  }
  [data-tooltip-location="left"]:before {
    transform: translate(-5px, 50%) scale(0.5);
  }
  [data-tooltip-location="left"]:hover:before {
    transform: translate(-5px, 50%) scale(1);
    -webkit-transform: translate(-5px, 50%) scale(1);
    -moz-transform: translate(-5px, 50%) scale(1);
    -ms-transform: translate(-5px, 50%) scale(1);
    -o-transform: translate(-5px, 50%) scale(1);
}
  [data-tooltip-location="left"]:after {
    border-width: 5px 0px 5px 5px;
    border-color: transparent transparent transparent rgba(55, 64, 70, 0.9);
    transform-origin: left;
    transform: translateY(50%) scaleX(0);
  }
  [data-tooltip-location="left"]:hover:after {
    transform: translateY(50%) scaleX(1);
  }

/*===== Slider Style =====*/

.slide-one-item .owl-nav .owl-prev,
.slide-one-item .owl-nav .owl-next {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 1rem;
    color: rgba(255, 255, 255, .4);
	width: 35px;
    height: 35px;
    border-radius: 50%;
	background: #FF6200;
}
.slide-one-item .owl-nav .owl-prev:hover,
.slide-one-item .owl-nav .owl-next:hover {
    color: #fff
}
.slide-one-item .owl-nav .owl-prev{
    left: 20px;
	padding-left:12px;
	padding-top:7px;
}
.slide-one-item .owl-nav .owl-next {
    right: 20px;
	padding-left:14px;
	padding-top:6px;
}
.slide-one-item .owl-dots {
    text-align: center;
    position: absolute;
    z-index: 5;
    bottom: 50px;
    width: 100%
}
.slide-one-item .owl-dots .owl-dot {
    display: inline-block
}
.slide-one-item .owl-dots .owl-dot>span {
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 7px;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    background: #FF6200;
	opacity:1;
    margin: 5px
}
.slide-one-item .owl-dots .owl-dot.active>span {
    width: 20px;
    background: #fff;
}
.site-section-cover.img-bg-section {
    background-size: 100%;
    background-repeat: no-repeat;
	background-position: center center;
	top:0%;
}
.site-section-cover {
    position: relative;
}
.site-section-cover,
.site-section-cover .container {
    position: relative;
    z-index: 2;
}
.site-section-cover, .site-section-cover .container>.row{
    min-height: 500px;
	height: 500px;	
}
@media(max-width:991.98px) {
    .site-section-cover,
    .site-section-cover .container>.row {
        height: 400px;
        min-height: 400px;
    }
	.site-section-cover.img-bg-section{
		background-size:100%;
		background-position:top center;
		top:0px;
	}
}
.marquee{
	border:2px solid #FF6200;
	display:flex;
	justify-content:center;
	align-items:center;
}
.marquee .notice{
	width:140px;
	padding:7px 25px;
	background:#FF6200;
}
.marquee .notice h6{
	color:#fff;
	font-weight:600;
}
.GeneratedMarquee, .marquee .notice{
	display:inline-block;
}
.GeneratedMarquee{
	font-weight:700;
}
.GeneratedMarquee a{
	color:#ffc600 !important;
}
.GeneratedMarquee a:hover{
	color:#FF6200 !important;
}
.class img{
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(0 0 0 / 23%);
}

/*===== Feature Area Style =====*/

.feature-area {
    padding-bottom: 90px;
    position: relative;
    z-index: 2;
}
.feature-area .feature-content-wrap .feature-item {
    background-color: #fff;
    box-shadow: 0 0 40px rgba(14,16,48,0.05);
    padding: 50px 40px 42px 40px;
    border-radius: 4px;
    transition: all 0.4s;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
    z-index: 1;
}
.feature-area .feature-content-wrap .feature-item:before {
    position: absolute;
    content: '';
    top: 30%;
    left: -90px;
    width: 540px;
    height: 540px;
    background-color: rgba(255,255,255,0.1);
    z-index: -1;
    transition: all .5s ease;
    -webkit-transform: translateY(100%) rotate(10deg);
    transform: translateY(100%) rotate(10deg);
}
.feature-area .feature-content-wrap .feature-item .hover-overlay:before, .feature-area .feature-content-wrap .feature-item .hover-overlay:after {
    position: absolute;
    content: '';
    top: 50%;
    left: -90px;
    width: 540px;
    height: 540px;
    z-index: -1;
    transition: all .5s ease;
    -webkit-transform: translateY(100%) rotate(10deg);
    transform: translateY(100%) rotate(10deg);
    background-color: rgba(255,255,255,0.2);
}
.feature-area .feature-content-wrap .feature-item .hover-overlay:after {
    top: 70% !important;
    background-color: rgba(255,255,255,0.3);
}

.feature-area .feature-content-wrap .feature-item .hover-overlay:before, .feature-area .feature-content-wrap .feature-item .hover-overlay:after {
    position: absolute;
    content: '';
    top: 40%;
    left: -90px;
    width: 540px;
    height: 540px;
    z-index: -1;
    transition: all .5s ease;
    -webkit-transform: translateY(100%) rotate(10deg);
    transform: translateY(100%) rotate(10deg);
    background-color: rgba(255,255,255,0.2);
}
.feature-area .feature-content-wrap .feature-item .feature__icon {
    color: #2475B0;
    font-size: 40px;
    position: relative;
    width: 80px;
    height: 80px;
    line-height: 80px;
    border-radius: 50%;
    background-color: rgba(36, 117, 176, 0.1);
    text-align: center;
    transition: all 0.4s;
}
.feature-area .feature-content-wrap .feature-item2 .feature__icon {
    color: #3498DB;
    background-color: rgba(52, 152, 219, 0.1);
}
.feature-area .feature-content-wrap .feature-item3 .feature__icon {
    color: #2475B0;
    background-color: rgba(36, 117, 176, 0.1);
}
.feature-area .feature-content-wrap .feature-item .feature__title {
    font-weight: 600;
    text-transform: capitalize;
    font-size: 24px;
    margin-top: 25px;
    margin-bottom: 20px;
    transition: all 0.3s;
}
.feature-area .feature-content-wrap .feature-item .feature__text {
    line-height: 28px;
    margin-bottom: 20px;
    transition: all 0.4s;
    font-weight: 500;
}
.feature-area .feature-content-wrap .feature-item .feature__btn {
    text-transform: capitalize;
    font-weight: 600;
    transition: all 0.4s;
	display: inline-block;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
	color:#fff;
}
.feature-area .feature-content-wrap .feature-item:hover {
    border-color: #FF6200;
    background-color: #FF6200;
}
.feature-area .feature-content-wrap .feature-item:hover .feature__icon {
    color: #FF6200;
    background-color: #fff;
}
.feature-area .feature-content-wrap .feature-item:hover .hover-overlay:before, .feature-area .feature-content-wrap .feature-item:hover .hover-overlay:after {
    -webkit-transform: translateY(0) rotate(10deg);
    transform: translateY(0) rotate(10deg);
}
.feature-area .feature-content-wrap .feature-item:hover .hover-overlay:after {
    transition-delay: .1s;
}
.feature-area .feature-content-wrap .feature-item:hover .hover-overlay:before, .feature-area .feature-content-wrap .feature-item:hover .hover-overlay:after {
    -webkit-transform: translateY(0) rotate(10deg);
    transform: translateY(0) rotate(10deg);
}
.feature-area .feature-content-wrap .feature-item:hover .feature__title, .feature-area .feature-content-wrap .feature-item:hover .feature__text, .feature-area .feature-content-wrap .feature-item:hover .feature__btn {
    color: #fff;
    cursor: default !important;
}

/*===== Choose Style =====*/

.chose-area .benefit-course-box .benefit-item {
    margin-bottom: 48px;
}
.chose-area .benefit-course-box .benefit-item .benefit__icon {
    color: #021d3a;
    font-size: 20px;
    position: relative;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 12px;
    background-color: rgba(255, 98, 0, 0.1);
    text-align: center;
    transition: all 0.4s;
}
.chose-area .benefit-course-box .benefit-item2 .benefit__icon {
    color: #021d3a;
    background-color: rgba(255, 98, 0, 0.1);
}
.chose-area .benefit-course-box .benefit-item3 .benefit__icon {
    color: #021d3a;
    background-color: rgba(255, 98, 0, 0.1);
}
.chose-area .benefit-course-box .benefit-item .benefit__title {
    margin-top: 16px;
    font-weight: 600;
    font-size: 16px;
    color: #FF6200;
}
.chose-area .benefit-course-box .benefit-item:hover .benefit__icon {
    background-color: #FF6200;
    color: #fff;
}
.chose-area .benefit-course-box .benefit-item2:hover .benefit__icon {
    background-color: #FF6200;
    color: #fff;
}
.chose-area .benefit-course-box .benefit-item3:hover .benefit__icon {
    background-color: #FF6200;
    color: #fff;
}
.category-form-3, .category-form{
    margin-top: 0;
    position: relative;
    z-index: 5;
}
.category-form {
	border-radius: 5px;
	overflow: hidden;
	-webkit-box-shadow: 0px 0px 75px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 75px 0px rgba(0,0,0,0.1);
}
.category-form-3 .form-title {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.category-form .form-title {
    background-color: #FF6200;
    padding-top: 15px;
    padding-bottom: 20px;
}
.category-form-3 .form-title h3 {
	color: #fff;
	font-weight:700;
}
.category-form .form-title span {
    font-size: 24px;
    color: #ffc600;
	font-weight:600;
    font-family: 'Montserrat', sans-serif;
}
.category-form-3 .main-btn{
    color: #fff;
}
.category-form-3 .main-btn:hover{
    color: #ffc600;
    border-color: #FF6200;
}
.category-form .main-form{
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    background-color: #fff;
    
}
.category-form .main-form .single-form{
    margin-top: 20px;
}
.category-form .main-form .single-form input{
    width: 100%;
    height: 40px;
    padding: 0 30px;
    font-size: 15px;
    color: #8a8a8a;
    border: 1px solid #a1a1a1;
    border-radius: 5px;
	font-weight:500;
}
.category-form .main-form .single-form input:hover, .category-form .main-form .single-form input:focus, .course-features.category-form .main-form .single-form select:hover, .course-features.category-form .main-form .single-form select:focus{
	border:1px solid #FF6200;
}
.category-form .main-form .single-form .btn{
    width: 100%;
    line-height: 20px;
}
.category-form .main-form .single-form .btn:hover{
	background-color:#FF6200;
	border-color:#FF6200;
	color:#ffc600 !important;
}

/*===== Facilities Form Style =====*/

.facilities{
	position: relative;
}
.service {
    position: relative;
    padding: 25px 20px 0px 70px;
    margin: 15px 0;
	background:#fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.13);
	border-radius:5px;
    min-height: 300px;
}
.service i {
    position: absolute;
    left: 20px;
    text-align: center;
    font-size: 32px;
    color: #010101;
    border-radius: 50%;
	z-index:2;
}
.service:hover:after {
    width: 100%;
}
.service:after {
    content: "";
    background-color: #FF6200;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0%;
    z-index: 1;
	border-radius:5px;
    -webkit-transition: .4s width;
    transition: .4s width;
}
.service h3 {
    -webkit-transition: .4s color;
    transition: .4s color;
	position:relative;
	font-size:20px;
	font-weight:600;
	padding-bottom:10px;
}
.service p{
	position:relative;
	-webkit-transition: .4s color;
    transition: .4s color;
}
.service:hover h3, .service:hover p, .service:hover i{
    color: #fff;
	z-index:2;
}

/*===== Faculty Style =====*/

.single-teacher-2{
    background-color: #fff;
    border-radius: 5px;  
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.23);	
}
.teacher-image{
    overflow: hidden;
    position: relative;     
}
.teacher-image img{
    width: 100%;
}
.single-teacher-2 .teacher-image .teacher-social{
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    line-height: 70px;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    z-index: 5;
    -webkit-transition: all 0.6s ease-out 0s;
    transition: all 0.6s ease-out 0s;
}
.single-teacher-2 .teacher-image:hover .teacher-social {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
.single-teacher-2 .teacher-image .teacher-social ul li{
    display: inline-block;
    margin: 0 5px;
}
.single-teacher-2 .teacher-image .teacher-social ul li a{
    font-size: 16px;
    color: #010101;
    -webkit-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
}
.single-teacher-2 .teacher-image .teacher-social ul li a:hover{
    color: #fff;
}

.single-teacher-2 .teacher-content{
	padding: 15px 0;
	-webkit-transition: all 0.6s ease-out 0s;
    transition: all 0.6s ease-out 0s;
}
.single-teacher-2 .teacher-content .teacher-title{
    color: #FF6200;
	font-weight:700;
    font-size: 15px;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
}
.single-teacher-2 .teacher-content span{
	font-size: 14px;
	color: #8a8a8a;
	font-weight:450;
	-webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
}
.single-teacher-2:hover .teacher-content{
	background:#FF6200;
}
.single-teacher-2:hover .teacher-content span, .single-teacher-2:hover .teacher-content h6{
    color: #fff;
}
.app-area .image-column {
    position: relative;
}
.app-area .image-column .image {
    position: relative;
    padding-right: 40px;
	margin-top:-30px;
}
.app-area .image-column .image img {
    position: relative;
    width: 90%;
    display: block;
}
.app-area .content-column .inner-column .text {
    position: relative;
    color: #6b6b6b;
	font-weight:500;
    font-size: 14px;
    line-height: 1.9em;
    margin-bottom: 20px;
}
.app-area .content-column .inner-column .app-btns {
    position: relative;
    margin-top: 40px;
}
.app-area .content-column .inner-column .app-btns a {
    margin-right: 20px;
}

/*===== Counter Style =====*/

.single-counter{
    position: relative;
    z-index: 5;
}
.overlay:before {
    background: #FF6200 none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
	opacity:0.9;
}
#counter-part{
	position:relative;
    font-family: 'Roboto', sans-serif;
}
.single-counter span{
    font-size: 36px;
    color: #010101;
    font-weight: 700;
}
.single-counter p{
    font-weight: 600;
    color: #fff;
    font-size: 15px;
	font-family: 'Montserrat', sans-serif;
}

/*===== Testimonial Style =====*/

#testimonial .section-title{
    position: relative;
    z-index: 5;
}
#testimonial .section-title h2{
    color: #FF6200;
}
#testimonial .section-title h5{
	color:#000;
}
#testimonial .section-title h5::before{
    background-color: #ffc600;
}
.testimonial-slide{
    position: relative;
    z-index: 5;
}
.single-testimonial{
    position: relative;
}
.single-testimonial .testimonial-thum{
    position: absolute;
    display: inline-block;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.single-testimonial .testimonial-thum img{
    border-radius: 5px;
}
.single-testimonial .testimonial-thum .quote{
    position: absolute;
    right: -22px;
    top: -22px;
}
.single-testimonial .testimonial-thum .quote i{
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    background-color: #FF6200;
    border-radius: 50%;
    color: #fff;
    font-size: 18px;
    padding-left: 5px;
}
.single-testimonial .testimonial-cont {
    padding-left: 140px;
}
.single-testimonial .testimonial-cont p {
    color: #010101;
    padding-bottom: 32px;
	font-weight:500;
}
.single-testimonial .testimonial-cont h6 {
    color: #010101;
    padding-bottom: 4px;
	font-weight:700;
}
.single-testimonial .testimonial-cont span {
    color:#000;
    font-size: 18px;
	font-weight:550;
}
.testimonial-slide .slick-dots{
    margin: 0 auto;
	text-align:center
}
.testimonial-slide .slick-dots li{
    display: inline-block;
    margin-top: 15px;
}
.testimonial-slide .slick-dots li button{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #FF6200;
    font-size: 0;
    padding: 0;
    border: 0;
    margin: 0 3px;
    cursor: pointer;
}
.testimonial-slide .slick-dots li.slick-active button{
    background-color: #021d3a;
}

/*=====  Blog Style =====*/

.single-news .news-thum img{
    width: 100%;
    border-radius: 5px;
}
.single-news .news-cont ul li{
    display: inline-block;
    margin-right: 25px;
}
.single-news .news-cont ul li:last-child{
    margin-right: 0;
}

.single-news .news-cont ul li a{
    color: #8a8a8a;
    font-size: 15px;
	font-weight:600;
}
.single-news .news-cont ul li a i{
    color: #010101;
    margin-right: 8px;
}
.single-news .news-cont ul li a span{
    color: #FF6200;
}
.single-news .news-cont a{
    display: block;
}
.single-news .news-cont a h3{
    font-size: 24px;
    color: #FF6200;
    padding-bottom: 20px;
    padding-top: 10px;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
	font-weight:700;
}
.single-news .news-cont a:hover h3{
    color: #010101;
}

.news-list .news-cont h3{
    font-size: 20px;
}
.news-list .news-cont ul li a{
    font-size: 14px;
}

/*=====  Footer Style =====*/

.footer-top{
    background-color: #FF6200;
}
.footer-about {
	padding-right: 50px;
}
.footer-about p{
    color: #fff;
    padding-top: 15px;
}
.footer-about ul li{
    display: inline-block;
    margin-right: 15px;
}
.footer-about ul li:last-child{
    margin-right: 0;
}

.footer-about ul li a i{
    width: 35px;
    line-height: 35px;
    font-size: 15px;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    background-color: #021d3a;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
    
}
.footer-about ul li a i:hover{
    background-color: #ffc600;
    color: #021d3a;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
    
}
.footer-title h6{
    font-size: 18px;
    color: #fff;
	font-weight:700;
}
.footer-link{
    overflow: hidden;
}
.footer-link ul{
    width: 50%;
    float: left;
    overflow: hidden;
}
.footer-link ul li{
    line-height: 35px;
}
.footer-link ul li a{
    color: #fff;
    font-size: 15px;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
	font-weight:500;
}
.footer-link ul li a i{
    margin-right: 8px;
    color: #021d3a;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
}
.footer-link ul li a:hover {
    color: #021d3a;
}
.footer-link ul li a:hover i{
    margin-right: 15px;
}

.support ul{
    float: none;
    width: 100%;
}

.footer-address ul li{
    position: relative;
    margin-bottom: 10px;
}
.footer-address ul li:last-child{
    margin-bottom: 0;
}

.footer-address ul li .icon i{
    font-size: 18px;
    color: #021d3a;
    position: absolute;
    left: 0;
    top: 5px;
}
.footer-address ul li .cont{
    padding-left: 35px;
}
.footer-address ul li .cont p{
    color: #fff;
}

.footer-copyright{
    background-color: #021d3a;
}
.footer-copyright .copyright p, .footer-copyright .copyright p span a{
    color: #fff;
	font-family: 'Montserrat', sans-serif;
}
.footer-copyright .copyright p span a{
    font-weight: 600;
	font-family: 'Montserrat', sans-serif;
}
.footer-copyright .copyright p span a:hover{
	color:#ffc600;
}
@media (min-width: 768px){
	.text-md-left {
		text-align: left !important;
	}
}
@media (min-width: 768px){
	.text-md-right {
		text-align: right!important;
	}
}
.back-to-top{
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 40px;
    height: 40px;
    line-height: 38px;
    background-color: #010101;
    color: #fff;
    font-size: 28px;
    border-radius: 5px;
    z-index: 99;
    text-align: center;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
    display: none;
}
.back-to-top:hover{
    color: #fff;
    background-color: #021d3a;
}
.page-header {
    text-align: left;
}
.page-header {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    min-height: 150px;
    position: relative;
    display: flex;
    align-items: center;
    padding: 25px 0;
    width: 100%;
}
.page-header:before {
    background-color: #FF6200;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    opacity: .99;
    filter: alpha(opacity=99);
    -webkit-filter: alpha(opacity=99);
}
.page-header .page-title {
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 0;
    position: relative;
}
.page-header .header-breadcrumb {
    margin-top: 15px;
    position: relative;
}
.breadcrumbs .trail-items {
    list-style: none;
}
.breadcrumbs .trail-items, .breadcrumbs .trail-items li {
    display: inline-block;
    margin: 0;
    padding: 0;
    border: none;
    background: 0 0;
    text-indent: 0;
}
.header-breadcrumb a:hover, .header-breadcrumb a:active, .header-breadcrumb a:focus, .header-breadcrumb a:visited {
    color: #f5f5f5;
}
.header-breadcrumb a {
    color: #fff;
	font-weight:500;
}
.trail-items li:after {
    content: "\002F";
    padding: 0 .5em;
    color: #edf0f2;
}
.header-breadcrumb ul li.trail-end {
    color: #fff;
	font-weight:500;
}
.page-header .header-breadcrumb .trail-items li:nth-child(2) {
    display: none;
}
.trail-end:after{
	display:none;
}
.gallery-list li{
	overflow:hidden;
	width:32.33%;
	padding:5px;
}
.gallery-list li img{
	object-fit: cover;
    min-height: 200px;
	display:block;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-radius:5px;
	position:relative;
	z-index:1
}
.gallery-list{
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
}
.content-1{
    display: none;
}
.noContent {
    color: #002147 !important;
    background-color: transparent !important;
    pointer-events: none;
	cursor:not-allowed !important;
    border: none !important;
}
.img-hover-zoom--brightness img {
	transition: transform 1s, filter 1.5s ease-in-out;
	transform-origin: center center;
}
.img-hover-zoom--brightness:hover img {
	transform: scale(1.1);
	filter: brightness(40%);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
}
.overlay-box {
    position: absolute;
    left: 0px;
    top: 50%;
    width: 100%;
    height: 100%;
    opacity: 0;
    text-align: center;
    transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    background-color: rgba(39, 52, 71, 0.85);
    transform: scale(0.9);
}
.overlay-box .content {
    position: relative;
    width: 100%;
    height: 100%;
}
.img-hover-zoom--brightness:hover .overlay-box{
	opacity:1;
}
.form-container{
	background-color:#fff;	
	margin:0 20px 0 0;
	padding:40px;
	border-radius:5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.wpforms{
	margin-top:20px;
	margin-bottom: 24px;
	margin-left: auto;
    margin-right: auto;
	background: 0 0;
    border: 0 none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    float: none;
    font-size: 100%;
    height: auto;
    letter-spacing: normal;
    list-style: none;
    outline: none;
    position: static;
    text-decoration: none;
    text-indent: 0;
    text-shadow: none;
    text-transform: none;
    width: auto;
    visibility: visible;
    overflow: visible;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}
.wpforms input, .wpforms textarea{
	background-color: transparent;
    font-size: 15px;
    padding: 14px 15px;
    border: 1px solid #e0e0e0;
	background-color: #fff;
    box-sizing: border-box;
    border-radius: 5px;
    color: #333;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: block;
    float: none;
    height: 38px;
    width: 100%;
    line-height: 1.3;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    margin-bottom: 15px;
}
.wpforms textarea{
	height:120px;
}
.ml-20{
	margin-left:20px;
}
.mt-20{
	margin-top:20px;
}
.address-list{
	margin-top:20px;
}
.address-list li i{
	color: #FF6200;
    font-size: 16px;
	width:1.25em;
}
.address-list li{
    border-bottom: 1px solid #ddd;
	padding-bottom: calc(25px/2);
}
.icon-list-text{
	color: #54595f;
	padding-left: 14px;
	font-weight:500;
}
.form-container.space{
	padding:40px 40px 20px;
}
.address-block img{
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.12);
	background:#fff;
	padding:5px;
}
.address-text{
	margin-top:30px;
	text-align:center;
}
.address-text h2{
	font-size:23px;
	font-weight:700;
}
.address-text p{
	padding-top:5px;
	margin-bottom:0px;
    font-family: 'Montserrat', sans-serif;
}
.address-text p a:hover{
	color:#010101;
}
.benefit-course-box .col-sm-6{
    width: 50% !important;
}
.benefit-course-box{
    align-items: center;
    text-align: center;
}
.infra-area .section-title h5{
	font-size:24px;
}
.section-left-head-top{
    font-size: 36px;
    line-height: 1.4;
    font-weight: 700;
	color:#FF6200;
}
.section-left-head{
    margin-bottom: 25px;
	font-size:30px;
	font-weight:500;
	color:#FF6200;
}
.section-left-content p {
    margin-bottom: 27px;
}
.campus-gallery .prev.slick-arrow {
    left: auto;
    right: 50px;
}
.campus-gallery .next.slick-arrow i{
	padding-left:2px;
}
.campus-gallery .slick-arrow {
    position: absolute;
    top: -65px;
    right: 0;
}
.campus-gallery .slick-arrow i {
    width: 40px;
    height: 40px;
    line-height: 35px;
    border-radius: 50%;
    color: rgba(255,255,255,0.7);
    background:#FF6200;
    border: 2px solid #FF6200;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
}
.campus-gallery .slick-arrow i:hover{
	color:#fff;
}
.section-left-sub-title {
    margin-bottom: 20px;
    display: block;
    font-size: 25px;
    font-weight: 700;
	color:#FF6200;
}
.slick-slide:focus{
    outline: none !important;
}
ul.custom {
    margin-top: 2em;
    margin-left: 10px;
}
ul.custom li {
    list-style: disc;
    padding-left: 10px;
    margin-left: 20px;
    line-height: 2em;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.feature-box {
    border: 1px solid #ececec;
    border-radius: 6px;
    background-color: #fff;
    padding: 20px 15px 0;
    position: relative;
    z-index: 9;
    box-shadow: 0 0 13px rgb(0 0 0 / 10%);
    width: 100%;
    margin-bottom: 30px;
    height: 330px;
}
@media only screen and (max-width: 991.98px){
    .feature-box {
        margin-bottom: 30px;
    }
}
.feature-header {
    margin-bottom: 10px;
}
.feature-icon {
    margin-right: 15px;
    font-size: 30px;
    width: 100px;
    border-radius: 100px;
    height: 100px;
    display: flex;
    display: -webkit-flex;
    display: -ms-flex;
    justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    color: #fff;
    margin: 0 auto;
    position: relative;
    border: 1px solid #bfbfbf;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.feature-icon span.circle {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #FF6200;
    border: 8px solid #fff;
    border-radius: 100px;
}
.feature-icon span.circle:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 100px;
}
.feature-icon i {
    position: relative;
    font-size: 40px;
}
.feature-text {
    font-size: 18px;
    font-weight: bold;
    padding-top: 20px;
}
.feature-box p {
    line-height: 22px;
    color: #26292c;
    font-weight: 400;
    font-size: 14px;
}
.subscribe-box{
    border: 1px solid #ececec;
    border-radius: 6px;
    background-color: #fff;
    padding: 20px 15px 20px;
    position: relative;
    z-index: 9;
    box-shadow: 0 0 13px rgb(0 0 0 / 10%);
    width: 100%;
    margin-bottom: 30px;
    min-height: 240px;
}
.subscribe-heading{
    background-color: #FF6200;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    padding: 10px 15px;
    text-transform: uppercase;
}
.subscribe-box a.sub-link{
    color: #FF6200;
    font-size: 15px;
    font-weight: 600;
    text-decoration: underline;
}
.subscribe-box h4{
    font-size: 16px;
    font-weight: 600;
    color: #010101;
}
.subscribe-box h4 span{
    color: #FF6200;
}
.event-area .overview{
	margin:0px;
	border-radius:0;
	padding:25px 20px 20px 40px; 
    border: 1px solid #e5e5e5;
}
.content {
    margin-top: 20px;
    line-height: 24px;
}
.event-area .section-title h5{
    font-size: 25px;
}
.event-area .section-title h5::before{
    width: 100px;
    background-color: #FF6200;
}
.event-area .section-title p span{
    font-size: 16px;
    color:#FF6200;
    font-weight:600;
}
.event-area .section-title p{
    color: #555;
    margin-top: 15px;
    line-height: 24px;
}
.course-features{
    background: #fff;
    position: -webkit-sticky;
    position: sticky;
    top: 80px;
    padding: 20px 25px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    margin-top: 18px;
}
.course-info {
    margin-bottom: 20px;
}
.widget-title {
    color: #010101;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 30px;
    line-height: 26px;
    position: relative;
}
.widget-title:before {
    position: absolute;
    width: 50px;
    background: #FF6200;
    content: "";
    height: 2px;
    bottom: -10px;
}
.course-info ul.course-info-list {
    padding-left: 0;
    margin-bottom: 0;
}
.course-features ul li {
    font-size: 14px;
    overflow: hidden;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}
.course-features ul li i {
    color: #FF6200;
    margin-right: 8px;
    font-size: 16px;
}
.course-info-list li .label {
    font-weight: 600;
    color: #505050;
}
.text-trun{
    -webkit-line-clamp: 2;
    overflow: hidden !important;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
ul.b li i{
    color: #FF6200;
    margin-right: 8px;
    font-size: 6px;
    top: -3px;
    position: relative;
}
ul.b li{
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #666;
}
ul.b{
    padding-left: 20px;
}
.faculty-slider{
    margin-bottom:80px;
}
.faculty-slider .owl-dots {
    text-align: center;
    position: absolute;
    z-index: 5;
    bottom: -50px;
    width: 100%;
}
.faculty-slider .owl-dots .owl-dot {
    display: inline-block;
}
.faculty-slider .owl-dots .owl-dot>span {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    background: #FF6200;
    opacity: 1;
    margin: 5px;
}
.faculty-slider .owl-dots .owl-dot.active>span{
    width:20px;
    background:#010101;
} 
.exam-details-table a.sub-link{
    color: #FF6200;
    font-size: 15px;
    font-weight: 600;
    text-decoration: underline;
}
.exam-details-table.table td {
    font-size: 14px;
    text-align: center;
    border: 1px solid #aaa;
    vertical-align: middle !important;
    padding: 5px 10px !important;
}
.exam-details-table.table th{
    border-left: 1px solid #aaa !important;
    border-right: 1px solid #aaa !important;
}
.exam-details-table.table td p{
    margin-bottom: 0px !important;
}
.exam-details-table .thead-dark th {
    color: #fff;
    background-color: #FF6200 !important;
    border-color: #fff !important;
}
.whatsapp{
    position: fixed;
    bottom:10px;
    right:10px;
    z-index: 999;
}
.whatsapp .icon{
    background-color:#25D366;
    width:50px;
    height:50px;
    border-radius:50%;
    text-align:center;
    color:#fff;
    line-height:60px;
}
.whatsapp .icon i{
    font-size:30px;
}





@media (min-width: 992px) and (max-width: 1200px){
    .service{
        padding-bottom: 30px;
        min-height: auto;
    }
    .service p{
        font-size: 14px;
    }
}


@media (min-width: 521px) and (max-width: 991px){
    .feature-area .feature-content-wrap .feature-item{
        padding: 30px 20px 22px 20px;
    }
    .feature-area .feature-content-wrap .feature-item .feature__text{
        font-size: 14px;
        line-height: 24px;
    }
    .feature-area .feature-content-wrap .feature-item .feature__title{
        font-size: 20px;
    }
    .service{
        padding-bottom: 30px;
    }
}



@media (max-width: 520px){
    .marquee .notice{
        width: 100px;
        padding: 5px 10px 5px 10px;
    }
    .marquee .notice h6{
        font-size: 14px;
    }
    .GeneratedMarquee{
        font-size: 14px;
    }
    .pb-50{
        padding-bottom: 30px;
    }
    .pt-50{
        padding-top: 30px;
    }
    .class img{
        margin-bottom: 25px;
    }
    .feature-area{
        padding-top: 40px;
    }
    .service{
        min-height: auto;
        padding-bottom: 15px;
    }
    .section-title h2{
        font-size: 40px;
    }
    .app-area .image-column .image img{
        width: 100%;
    }
    .single-testimonial .testimonial-thum{
        position: relative;
        top: 10%;
        transform: none;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
    }
    .single-testimonial .testimonial-thum .quote{
        top: 10px;
    }
    .single-testimonial .testimonial-cont{
        padding-left: 0px;
    }
    .single-testimonial .testimonial-cont p{
        padding-bottom: 15px;
        padding-top: 15px;
        margin: 0px;
    }
    .footer-title h6{
        padding-top: 15px;
    }
    .site-section-cover, .site-section-cover .container>.row{
        height: unset;
        min-height: 150px;
    }
    .section-left-sub-title{
        font-size: 30px;
        line-height: 40px;
    }
    ul.custom{
        margin-bottom: 20px;
    }
    .gallery-list li{
        width: 49%;
    }
    .infra-area p.text-center{
        text-align: justify !important;
    }
    .form-container{
        margin: 0px;
        padding: 30px 20px;
    }
    .icon-list-text.email{
        font-size: 12px;
        font-weight: 600;
    }
    .icon-list-text{
        font-size: 14px;
    }
    ul.b{
        padding-left: 5px;
    }
    .faculty-slider{
        margin-bottom:0px;
    }
}

@media (max-width: 400px){
    .gallery-list li{
        width: 100%;
    }
}