html,
body {
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
	background:#fff;
	overflow-x:hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    color: #111;
    font-weight: 400;
	font-family: 'Montserrat', sans-serif;
}
h1 {
    font-size: 70px
}
h2 {
    font-size: 36px
}
h3 {
    font-size: 30px
}
h4 {
    font-size: 24px
}
h5 {
    font-size: 18px
}
h6 {
    font-size: 16px
}
p {
    font-size: 16px;
	font-family: 'Roboto', sans-serif;
    color: #6b6b6b;
    font-weight: 400;
    line-height: 26px;
    margin: 0 0 15px
}
img {
    max-width: 100%;
    vertical-align: middle;
    border-style: none;
}
input:focus,
select:focus,
button:focus,
textarea:focus {
    outline: none !important;
	-webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
a:hover,
a:focus {
    text-decoration: none;
    outline: none !important;
    color: #fff;
	font-family: 'Montserrat', sans-serif;
}
ul,
ol {
    padding: 0;
    margin: 0;
	list-style-type:none;
}
.h-100 {
    height: 100%!important;
}
.pt-10{
	padding-top:10px;
}
.pt-15{
	padding-top:15px;
}
.pt-25{
	padding-top:25px;
}
.pt-50{
	padding-top:50px;
}
.pt-100{
	padding-top:100px;
}
.pb-50{
	padding-bottom:50px;
}
.pb-100{
	padding-bottom:100px;
}
.pb-45{
	padding-bottom:45px;
}
.pb-25{
	padding-bottom:25px;
}
.pt-65{
	padding-top:65px;
}
.pt-40{
	padding-top:40px;
}
.pb-70{
	padding-bottom:70px;
}
.mt-30{
	margin-top:30px !important;
}
.mt-50{
	margin-top:50px;
}
.mr-3{
	margin-right:1rem !important;
}
.s-home h1{
	font-weight: 600;
    font-style: normal;
    font-size: 45px;
    text-transform: none;
    letter-spacing: -0.005em;
    line-height: 50px;
    color: rgba(255,255,255,1);
	margin-bottom:20px;
}
.s-home p{
	margin-bottom:30px;
	font-size:18px;
    color: rgba(255,255,255,0.9);
}
.s-home{
	width:100%;
	height:100vh;
	overflow:hidden;
}
.s-home.shape-primary{
    background-image: -moz-radial-gradient(50% 50%, circle closest-side, #FD7F2C 0%, #FF6200 100%);
    background-image: -webkit-radial-gradient(50% 50%, circle closest-side, #FD7F2C 0%, #FF6200 100%);
    background-image: -ms-radial-gradient(50% 50%, circle closest-side, #FD7F2C 0%, #FF6200 100%);
    background-color: #FF6200;
    /* background-image: linear-gradient(315deg, #FD7F2C 0%, #FF6200 74%); */
}
.home-content{
    padding-top:10rem;
	padding-bottom:10rem;
	position:relative;
	z-index:2;
}
.section-background-wrap {
    z-index: 0;
    overflow: hidden;
}
.section-shape{
    bottom: 0px;
    left: 0;
    position: absolute;
    right: 0;
    z-index: 1;
}
.app-btn{
	padding: 15px 40px;
	background: #fff;
    color: #333;
	-webkit-transition: all .3s linear;
    -o-transition: .3s all linear;
    transition: all .3s linear;
    border-style: solid;
	border-radius: 3px;
	font-size: 14px;
    line-height: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
	font-weight: 700;
    font-style: normal;
	cursor:pointer;
	border-width:2px;
	border-color:transparent;
}
.col1{
	background-color: #FF6200;
    color: #fff;
}
.app-btn:hover{
	border-color:#fff;
	background:inherit;
	color: #fff;
}
.col1:hover{
	border-color:#FF6200;
	background:inherit;
	color: #FF6200;
}
.s-home .home-banner img{
	position: relative;
	height:auto;
	max-width:100%;
	z-index:2;
	margin-top:40px;
	float:right;
}
.pt-100{
	padding-top:100px;
}
.pt-60{
	padding-top:60px;
}
.pt-30{
	padding-top:30px;
}
.paragraph-text {
    margin: 0 auto;
    font-size: 18px;
    line-height: 28px;
    color: rgba(105,108,113,1);
}
.mb-30{
	margin-bottom:30px;
}
.mb-20{
	margin-bottom:20px;
}
.mt-20{
	margin-top:20px;
}
.section-circle{
    position: relative;
}
.section-circle .shape {
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 100%
}
.section-circle .shape span {
    position: absolute;
}
.section-circle .circle-animation span{
    -webkit-animation: ripple-white 1s linear infinite;
    animation: ripple-white 1s linear infinite;
}
.section-circle .shape-primary {
    background: linear-gradient(150deg, #281483 15%, #8f6ed5 70%, #d782d9 94%)
}

.section-circle .shape-primary :nth-child(1) {
    background: #53f
}

.section-circle .shape-primary :nth-child(2) {
    background: #4553ff
}

.section-circle .shape-primary :nth-child(3) {
    background: #4f40ff
}

.section-circle .shape-primary :nth-child(4) {
    background: #25ddf5
}

.section-circle .shape-primary :nth-child(5) {
    background: #1fa2ff
}
.section-circle .shape-style-1 span {
    width: 120px;
    height: 120px;
    border-radius: 100px 130px 100px 315px;
}
.section-circle .shape-style-1 .span-200 {
    width: 200px;
    height: 200px
}
.section-circle .shape-style-1 .circle-150 {
    width: 150px;
    height: 150px
}
.section-circle .shape-style-1 .circle-100 {
    width: 100px;
    height: 100px
}
.section-circle .shape-style-1 .circle-75 {
    width: 75px;
    height: 75px
}
.section-circle .shape-style-1 .circle-50 {
    width: 50px;
    height: 50px
}
.section-circle .shape-style-1 :nth-child(1) {
    bottom: auto;
    left: -3%;
    top: -20px;
    background: rgba(255, 255, 255, .1)
}
.section-circle .shape-style-1 :nth-child(2) {
    top: 15%;
    right: 10%;
    background: rgba(255, 255, 255, .1)
}
.section-circle .shape-style-1 :nth-child(3) {
    top: 280px;
    right: 5.66666%;
    background: rgba(255, 255, 255, .3)
}
.section-circle .shape-style-1 :nth-child(4) {
    top: 320px;
    right: 7%;
    background: rgba(255, 255, 255, .15)
}

.section-circle .shape-style-1 :nth-child(5) {
    top: 38%;
    right: auto;
    left: 1%;
    background: rgba(255, 255, 255, .05)
}
.section-circle .shape-style-1 :nth-child(6) {
    top: 65%;
    right: auto;
    left: 35%;
    width: 200px;
    height: 200px;
    background: rgba(255, 255, 255, .15)
}
.section-circle .shape-style-1 :nth-child(7) {
    right: 40%;
    bottom: 45%;
    background: rgba(255, 255, 255, .04)
}
.section-circle .shape-style-1 :nth-child(8) {
    right: 6%;
    bottom: 100px;
    background: rgba(255, 255, 255, .2)
}
.section-circle .shape-style-1 :nth-child(9) {
    right: 5%;
    bottom: 12%;
    background: rgba(255, 255, 255, .1)
}
.section-circle .shape-style-1 :nth-child(10) {
    right: auto;
    bottom: 11%;
    left: 15%;
    background: rgba(255, 255, 255, .05)
}
.header-area .is-sticky .fitness-main-menu .logo{
    display: block;
}
.logo, .header-area .is-sticky .fitness-main-menu .whitelogo{
    display: none;
}
.item .service-item {
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    padding: 30px 20px;
    border: 1px solid #e3e8fe;
    background-color: transparent;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
}
.item .service-item img{
    width: 100px !important;
	position:relative;
	text-align:center;
	margin:0 auto 10px;
}
.item .service-item .item-title {
    width: 100%;
    font-size: 16px;
    color: #404b5f;
    font-weight: 600;
    text-transform: capitalize;
}
.item .service-item:hover {
    background-color: #ffffff;
    -webkit-box-shadow: 0px 15px 43.65px 1.35px rgba(0, 27, 103, 0.1);
    box-shadow: 0px 15px 43.65px 1.35px rgba(0, 27, 103, 0.1);
}
.s-about{
	background-color: rgba(225,244,254,1);
    margin: -3px 0px 0px 0px;
}
.column-align-middle{
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}
.inline-text-inner h3{
	font-weight: 600;
    font-style: normal;
    font-size: 34px;
    text-transform: none;
    letter-spacing: -0.003em;
    line-height: 46px;
    color: rgba(49,50,51,1);
}
.inline-text-inner{
	width:80%;
	text-align:left;
	margin-bottom:20px;
}
.s-about p{
	margin-bottom:30px;
	color:rgba(105,108,113,1);
}
.bottom-divider {
    height: 70px;
    color: #ffffff;
    z-index: 9999;
}
.bottom-divider {
    bottom: -50px;
	position:absolute;
}
.shape-divider {
    position: relative;
    overflow: hidden;
    line-height: 0;
    z-index: 2;
    pointer-events: none;
}
svg:not(:root) {
    overflow: hidden;
}
.flip-divider svg {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}
.shape-divider svg {
    width: 100%;
    height: 100%;
    fill: currentColor;
}
.section-title h3{
	font-weight: 600;
    font-style: normal;
    font-size: 30px;
    text-transform: none;
    letter-spacing: -0.003em;
    line-height: 46px;
    color: rgba(49,50,51,1);
	margin-bottom:20px;
}
.single-feature {
    align-items: flex-start!important;
    display: flex!important;
    padding: 1.5em 1em;
    cursor: pointer;
    transition: all 0.3s ease-in;
}
.feature-icon {
    margin-right: 20px;
    transition: all 0.3s ease-in;
}
.icon {
    display: inline-flex;
    min-width: 3.5rem;
    min-height: 3.5rem;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.12);
    color: inherit;
    transition: all 0.3s ease-in;
}
.icon-shape {
    text-align: center;
    border-radius: .25rem;
    align-items: center;
    justify-content: center;
}
.white-text {
    color: #fff !important;
}
.bg-color {
    /* background: linear-gradient(45deg, #FD7F2C 0%, #FF6200 100%); */
    background: #ffc500;
}
.icon-shape i {
    font-size: 1.5rem;
}
.feature-content h5 {
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    text-transform: none;
    letter-spacing: -0.01em;
    line-height: 30px;
    color: rgba(49,50,51,1);
}
.single-feature:hover .icon {
    border-radius: 50%;
}
.s-screenshot{
	background-color: rgba(225,244,254,1);
    margin: -3px 0px 0px 0px;
}
.slick-slide{
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
	-webkit-transform: scale(0.6);
    transform: scale(0.6);
	opacity:0.5;
}
.slick-center {
    -webkit-transform: scale(1);
    transform: scale(1);
	opacity:1;
}
.slick-slide img{
	-webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}
.screenshot-slide .slick-dots{
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: center;
    justify-content: center;
	margin: 0;
	padding: 1rem 0;
	list-style-type: none;
}
.screenshot-slide .slick-dots li {
	margin: 0 0.25rem;
}
.screenshot-slide .slick-dots button {
	display: block;
	width: 0.6rem;
	height: 0.6rem;
	padding: 0;
	border: none;
	border-radius: 50%;
	background: linear-gradient(45deg, #FD7F2C 0%, #FF6200 100%);
	text-indent: -9999px;
	cursor:pointer;
}
.screenshot-slide .slick-dots li.slick-active button {
	background: #000;
}
.s-footer{
	/* background-color: rgba(225,244,254,1); */
    margin: -3px 0px 0px 0px;
}
.s-footer .nav-brand img{
	margin-bottom:10px;
	width:120px;
}
.s-footer h5{
	font-weight: 600;
    font-style: normal;
    font-size: 18px;
    text-transform: none;
    letter-spacing: -0.01em;
    line-height: 30px;
    color: rgba(49,50,51,1);
	margin-bottom:20px;
}
.footer-links li a, .copyright p span a{
	color:rgba(105,108,113,1);
	font-size:15px;
	font-weight:550;
	transition: all 0.3s ease-in;
}
.footer-links li, .footer-text li{
	margin-bottom:10px;
}
.footer-links li a:hover,  .copyright p span a:hover{
	color:#333;
}
.footer-icon{
	margin-right:10px;
	font-size:20px;
}
.footer-text li a{
	font-weight:500;
}
.s-footer .icon-1 img{
	width:60%;
}
.footer-copyright{
	border-top:1px solid rgba(0,0,0,0.2);
}
@media (min-width: 768px){
	.text-md-left {
		text-align: left;
	}
}
.text-center {
    text-align: center;
}
.pt-15{
    padding-top: 15px;
}
.footer-copyright .copyright p, .footer-copyright{
    color: rgba(49,50,51,1);
    font-family: 'Montserrat', sans-serif;
	font-weight:600;
}
.footer-content ul > li {
    margin-bottom: 10px;
}
.social-links > ul > li {
    margin-right: 15px;
}
.ul-li > ul > li {
    list-style: none;
    display: inline-block;
}
.footer-content ul > li > a:hover {
    color: #138afd;
    text-decoration: underline;
}
.social-links ul li a:hover {
    color: #ffffff!important;
}
.social-links > ul > li > a{
	color:#fff !important;
	position:relative;
}
.social-links > ul > li > a > i{
    z-index: 2;
    width: 40px;
    height: 40px;
    color:rgba(105,108,113,1);
    font-size: 16px;
    overflow: hidden;
    line-height: 42px;
    text-align: center;
    position: relative;
    border-radius: 100%;
    /* background-color:#fff; */
    background-color: rgba(225,244,254,1);
	transition: all 0.3s ease-in-out;
}
.social-links > ul > li > a > i:hover{
	background: linear-gradient(45deg, #FD7F2C 0%, #FF6200 100%) !important;
	transition: all 0.3s ease-in-out;
	color:#fff;
}
#be-themes-back-to-top {
    background: rgba(88,138,240,1);
    color: #ffffff;
}
#be-themes-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    display: none;
    width: 40px;
    height: 40px;
    color: #fff;
    background: linear-gradient(45deg, #FD7F2C 0%, #FF6200 100%) !important;
    line-height: 40px;
    text-align: center;
}
#be-themes-back-to-top svg {
    width: 9px;
    fill: none;
    stroke: currentColor;
}
svg:not(:root) {
    overflow: hidden;
}
.slick-slide:focus{
    outline: none !important;
}



@media (min-width: 1400px){
    .s-home{
        height: 70vh;
    }
    .s-home img{
        width: 80%;
    }
    .section-shape img{
        width: 100% !important;
    }
}

@media (max-width: 991px){
    .s-home .home-banner img{
        display: none;
    }
    .s-footer .icon-1 img{
        width: 200px;
    }
}


@media (max-width: 520px){
    .home-content{
        padding-top: 7rem;
    }
    .s-home h1{
        font-size: 40px;
    }
    .inline-text-inner h3{
        font-size: 30px;
        line-height: 36px;
    }
    .section-title h3{
        line-height: 36px;
    }
    .footer-text li a{
        font-size: 14px;
        font-weight: 600;
    }
    .s-footer .icon-1 img{
        margin-top: 15px;
    }
}